html {
  -webkit-text-size-adjust: 100%; /* Change to percentage value */
  text-size-adjust: 100%;
}
html {
  -webkit-text-size-adjust: 100%; /* Change to percentage value */
  text-size-adjust: 100%;
}